.wrapper {
    position: absolute;
    width: 100%;
  }
  
  .gradient {
    background-image: radial-gradient(
      circle at 36% 48%,
      #000000,
      rgba(11, 39, 65, 0.32) 87%,
      rgba(0, 0, 0, 0)
    );
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 600px;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  
  video {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 600px;
    object-fit: cover;
  }